<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotels | Rooms</title>
</head>
<body>
<table id="roomsTable" class="table table-striped">
    <tr>
        <th>Inventory Id</th>
        <th>Inventory Name</th>
        <th>Last Updated Date</th>
    </tr>
    <tr th:each="inventory: ${inventories}">
        <td th:text="${inventory.id}">Inventory Id</td>
        <td th:text="${inventory.location}">Inventory Name</td>
        <td th:text="${inventory.last_updated_date}">Last Updated Date</td>

    </tr>
</table>

</body>
</html>